/* common css start*/
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #29313d;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}

body {
  background: url(../images/Gradient\ BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #29313d;
  overflow-x: hidden;
}
/* common css end */
/* navbar css start */
.navbar {
  width: 100%;
  z-index: 999;
}
.navbar-nav .nav-item .nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #29313d;
  text-transform: capitalize;
}

.contact-btn {
  height: auto;
  width: 146px;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  background-color: #8454f5;
  color: #fff;
  border-radius: 15px;
}
/* navbar css end */

/* banner css start */
#banner {
  position: relative;
  margin-top: 130px;
  padding-top: 90px;
}

#banner span h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: #29313d;
  text-transform: capitalize;
  line-height: 55px;
}

#banner .col-lg-5 p {
  padding-top: 22px;
  padding-left: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #29313d;
  line-height: 200%;
  text-transform: capitalize;
}

.sidebar {
  top: 225px;
  width: 6px;
  height: 80px;
  position: absolute;
  background-color: #ffc556;
}

.banner-image-1 {
  position: absolute;
  top: 130px;
  right: 444px;
}

.banner-image-2 {
  position: absolute;
  top: -100px;
  right: 80px;
}

.banner-image-3 {
  position: absolute;
  top: 320px;
  right: 60px;
}

.input-part {
  height: auto;
  margin-top: 48px;
  width: 600px;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 28px;
  /* padding-right: 200px; */
  border-radius: 20px;
  border: none;
  background-color: #8454f52f;
  position: relative;
}

.input-part input {
  height: auto;
  width: 319px;
  background-color: transparent;
  border: none;
}

.input-part input::placeholder {
  padding-right: 0;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #29313d;
  line-height: 200%;
  text-transform: capitalize;
}

.signup-btn {
  position: absolute;
  height: 60px;
  width: 169px;
  background-color: #8454f5;
  color: #fff;
  right: 10px;
  border-radius: 20px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
}
/* banner css ends */

/* brand css starts */
#brand {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 70px;
  position: relative;
}

/* brand css ends */

/* Solution css starts */
#solution {
  height: auto;
  width: auto;
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}

#solution .col-lg-5 h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 56px;
  font-weight: 600;
  color: #29313d;
  text-transform: capitalize;
  line-height: 140%;
}

#solution .col-lg-6 p {
  height: 108px;
  width: 653px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #29313d;
  line-height: 200%;
  text-transform: capitalize;
  padding-top: 18px;
}

#solution .col-lg-6 .sidebar {
  top: 152px;
  right: 50%;
}

.solution-card {
  position: relative;
  border: 1px solid #8454f5b7;
  border-radius: 15px;
  transition: 0.8s;
  overflow: hidden;
}

.solution-card h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 140%;
  margin-top: 40px;
}

.solution-card span h2 {
  padding-left: 70px;
}

.solution-para :first-child {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  text-transform: capitalize;
  padding: 0 30px;
  padding-top: 30px;
}

.solution-para :last-child {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 00;
  line-height: 100%;
  text-transform: capitalize;
  padding: 0 30px;
  padding-top: 10px;
}

.solution-card:hover {
  background-color: #8454f5;
  color: #fff;
}

.solution-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Solution css ends */

/* Goal css starts here */
#Goal {
  height: auto;
  width: 100%;
  position: relative;
}

.goal-part {
  width: 100%;
}

.goal-part h1 {
  padding-top: 250px;
  font-family: "Open Sans", sans-serif;
  font-size: 56px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 140%;
}

.goal-part p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  text-transform: capitalize;
  padding-top: 24px;
  padding-right: 175px;
}

.signup-btn-goal {
  height: 60px;
  width: 169px;
  background-color: #8454f5;
  color: #fff;
  border-radius: 20px;
  border: none;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 200%;
  margin-top: 48px;
  margin-bottom: 248px;
}

#Goal .row {
  position: relative;
}

.card-1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
}

.card-2 {
  position: absolute;
  top: 13%;
  left: 18%;
}

.card-3 {
  position: absolute;
  top: 49%;
  left: 21%;
}

.card-bg {
  position: absolute;
  height: 733px;
  width: 670px;
  background-color: #633eb915;
  left: 0px;
  top: 50%;
  transform: translateY(-55%);
  border-radius: 0 120px 120px 0;
  z-index: -1;
}
/* Goal css ends here */

/* Tools css starts here */
#Tools {
  position: relative;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 120px;
}

.tool-header {
  height: 110px;
  background-color: #dbccfc5b;
  border-radius: 25px;
  display: flex;
}

.tool {
  height: 80px;
  width: 305px;
  background-color: transparent;
  color: #8454f5;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
  border-radius: 18px;
  padding: 30px 0;
  transition: 0.8s;
}

.tool:hover {
  background-color: #8454f5;
  color: #fff;
}

.tool-discription-part {
  width: 100%;
}

.tool-discription-part h1 {
  margin-top: 120px;
  font-family: "Open Sans", sans-serif;
  font-size: 56px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 140%;
}

.tool-discription-part p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  text-transform: capitalize;
  padding-top: 24px;
  padding-right: 85px;
}

.signup-btn-tool {
  height: 60px;
  width: 169px;
  background-color: #8454f5;
  color: #fff;
  border-radius: 20px;
  border: none;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 200%;
  margin-top: 48px;
}

.tool-image {
  margin-top: 120px;
  margin-left: 50px;
}

/* Tools css ends here */

/* Pricing css starts here */
#Pricing {
  position: relative;
  height: auto;
  width: 100%;
  padding-top: 120px;
}

.pricing-header {
  padding: 0 260px;
}

.pricing-header h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 56px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 140%;
}

.switch-part {
  margin-top: 30px;
  display: flex;
  margin-bottom: 80px;
}

.switch-part p {
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
  padding-top: 10px;
  padding-right: 10px;
}

.switch-part:last-child p {
  padding-left: 10px;
}

.switch {
  height: 40px;
  width: 70px;
  border-radius: 30px;
  background-color: #8454f5;
  display: inline-block;
  position: relative;
}

.switch-circle {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  position: absolute;
  top: 7px;
  left: 6px;
}

.prices {
  height: 635px;
  position: relative;
}
.price-card {
  height: 555px;
  width: 420px;
  border-radius: 30px;
  border: none;
  padding: 0 30px;
  padding-top: 20px;
  position: relative;
  transition: 0.8s;
}

.price-card h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 140%;
  padding-bottom: 50px;
}

.price-card-detail {
  width: 420px;
  display: flex;
}

.info {
  width: 250px;
}

.info-value {
  width: 200px;
  padding-right: 50px;
}

.info picture {
  display: inline-block;
}
.info p {
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-transform: capitalize;
  padding: 5px 0;
}

.info-value p {
  text-align: right;

  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  color: #8454f5;
  text-transform: capitalize;
}

.getstarted-btn-pricing {
  height: 80px;
  width: 202px;
  background-color: #8454f533;
  color: #8454f5;
  border-radius: 20px;
  border: none;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 200%;
  margin-top: 48px;
  text-transform: capitalize;
}

.price-card:hover {
  background-color: #181059;
  color: #fff;
  transform: scale(1.1);
}

.price-card:hover p {
  color: #fff;
}

.price-card:hover button {
  background-color: #8454f5;
  color: #fff;
}

/* Pricing css ends here */

/* Demo css starts here */
#Demo {
  position: relative;
  height: auto;
  width: 100%;
  padding: 70px 0;
  text-transform: capitalize;
}

#Demo .col-lg-4 picture {
  display: inline-block;
}
#Demo .col-lg-4 p {
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}

#Demo .col-lg-3 h1,
#Demo .col-lg-2 h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 140%;
}

#Demo .col-lg-3 p {
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  padding: 0 61px;
}

#Demo .col-lg-2 p {
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  padding: 0 10px;
}
/* Demo css ends here */

/* Team area css starts here */
#Team {
  padding: 140px 0;
  width: 100%;
  height: auto;
  text-transform: capitalize;
}

#Team .col-lg-6 h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 53px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 90px;
}

.leader {
  height: 520px;
  width: 450px;
}
.leader img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#Team p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  padding: 0 45px;
}

#Team h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 180%;
  padding-left: 45px;
}

.team-sites {
  padding-left: 50px;
  font-size: 30px;
}

.team-sites i {
  transition: 0.8s;
}

.team-sites i:hover {
  color: #8454f5;
}

.next-prev {
  display: flex;
  margin-left: 45px;
  margin-top: 56px;
  height: 64px;
  width: 152px;
  background-color: transparent;
}

.prev {
  position: relative;
  height: 64px;
  width: 64px;
  background-color: #f3eefe;
  transition: 0.5s;
}

.next {
  position: relative;
  height: 64px;
  width: 64px;
  background-color: #f3eefe;
  transition: 0.5s;
}

.next-prev i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev:hover,
.next:hover {
  color: #fff;
  background-color: #8454f5;
}

.other-members {
  position: relative;
  height: 480px;
  width: 368px;
}

.member-1 {
  position: absolute;
  height: 137px;
  width: 137px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.member-1 img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.member-2 {
  position: absolute;
  height: 82px;
  width: 82px;
  top: 0;
  right: 20px;
}

.member-2 img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.member-3 {
  position: absolute;
  height: 110px;
  width: 110px;
  top: 35px;
  left: 45px;
}

.member-3 img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.member-4 {
  position: absolute;
  height: 68px;
  width: 68px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.member-4 img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.member-5 {
  position: absolute;
  height: 68px;
  width: 68px;
  bottom: 40px;
  left: 80px;
}

.member-5 img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.member-6 {
  position: absolute;
  height: 82px;
  width: 82px;
  bottom: 0;
  right: 0;
  transform: translateX(50%);
}

.member-6 img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Team area css ends here */

/* subscribe css starts here */
#Subscribe {
  height: 628px;
  width: 100%;
  position: relative;
  padding: 140px 0;
}

#Subscribe h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
}

#Subscribe p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
  text-transform: capitalize;
  margin-top: 28px;
  margin-bottom: 48px;
}

#Subscribe input::placeholder {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  text-transform: capitalize;
}

#Subscribe input {
  height: 80px;
  width: 512px;
  border-radius: 20px;
  padding-left: 30px;
  border: none;
  background-color: #f3eefe;
}

.subscribe-btn {
  height: 80px;
  width: 146px;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  background-color: #8454f5;
  color: #fff;
  border-radius: 25px;
  margin-left: 15px;
}
/* subscribe css ends here */

/* Footer css starts here */
#Footer {
  height: 631px;
  width: 100%;
  position: relative;
  padding-top: 140px;
  padding-bottom: 57px;
}

#Footer p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  text-transform: capitalize;
  margin-top: 44px;
  padding-right: 45px;
}

#Footer h5 {
  margin-bottom: 32px;
  padding-left: 70px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

#Footer ul li {
  width: 250px;
  margin-top: 15px;
  padding-left: 38px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 180%;
  text-transform: capitalize;
}

#Footer .col-lg-8 p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  text-transform: capitalize;
}

#Footer .col-lg-2 p {
  text-align: right;
  padding-right: 0;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  text-transform: capitalize;
}
/* Footer css ends here */
